@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 244, 245, 219;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md transition-colors duration-200;
  }
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary/80;
  }
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-secondary/80;
  }
}